<p id="notice"><%= notice %></p>

<% unless @show_project.deadline.blank? %>
<p>
  <b>Deadline:</b>
  <%= format_mdy(@show_project.deadline) %>
</p>
<% end %>

<p>
  <b>User:</b>
  <%= @show_project.user.email %>
</p>

<p>
  <b>Description:</b>
  <%= @show_project.description %>
</p>


<%= link_to 'Delete', @show_project, class: 'btn', method: :delete,
      confirm: 'Are you sure?' %>
<%= link_to 'Edit', edit_project_path(@show_project), class: 'btn' %>
<%= link_to 'Back', root_path, class: 'btn' %>
