<!DOCTYPE html>
<html>
<head>
  <title>Plannit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
<% if user_signed_in? %>
  <%= link_to 'Edit Profile', edit_user_registration_path %> |
  Logged in as <strong><%= current_user.email %></strong>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path %> | 
  <%= link_to "Login", new_user_session_path %>
<% end %>
</p>

<% if user_signed_in? %>
  <div class='span3'>
    <h3>My Projects</h3>
    <%= render 'shared/projects' %>
  </div>
<% end %>

<div class='span8'>
  <div id='messages_div' class='hide'></div>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
